* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  background-color: black;
}

main {
  position: relative;
  z-index: 1;

}

section {
  min-height: 100vh;
  width: 100%;
  border: 2px solid white;
  position: relative;
  z-index: 2;
}